<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Запись на фотосессию</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row row-cols-6" align="center">
        <div class="col">
          <button type="button" class="btn btn-secondary btn-block">Главная</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn-block" href="{{ url_for('about') }}">Обо мне</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn-block" href="{{ url_for('portfolio') }}">Портфолио</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-block" href="{{ url_for('calendar') }}">Записаться на фотосессию</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn-block" href="{{ url_for('blog') }}">Блог</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn-block" href="{{ url_for('blog') }}">Вход/Регистрация</button>
        </div>
      </div>
      <div class="p-5">
        <h2 class="mb-4">Календарь фотосессий</h2>
        <div class="card">
          <div class="card-body p-0">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
      
      <!-- calendar modal -->
      <div id="modal-view-event" class="modal modal-top fade calendar-modal">
              <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                      <div class="modal-body">
                          <h4 class="modal-title"><span class="event-icon"></span><span class="event-title"></span></h4>
                          <div class="event-body"></div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                      </div>
                  </div>
              </div>
          </div>
      
      <div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form id="add-event">
              <div class="modal-body">
              <h4>Добавить описание</h4>        
                <div class="form-group">
                  <label>Event name</label>
                  <input type="text" class="form-control" name="ename">
                </div>
                <div class="form-group">
                  <label>Event Date</label>
                  <input type='text' class="datetimepicker form-control" name="edate">
                </div>        
                <div class="form-group">
                  <label>Event Description</label>
                  <textarea class="form-control" name="edesc"></textarea>
                </div>
                <div class="form-group">
                  <label>Event Color</label>
                  <select class="form-control" name="ecolor">
                    <option value="fc-bg-default">fc-bg-default</option>
                    <option value="fc-bg-blue">fc-bg-blue</option>
                    <option value="fc-bg-lightgreen">fc-bg-lightgreen</option>
                    <option value="fc-bg-pinkred">fc-bg-pinkred</option>
                    <option value="fc-bg-deepskyblue">fc-bg-deepskyblue</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Event Icon</label>
                  <select class="form-control" name="eicon">
                    <option value="circle">circle</option>
                    <option value="cog">cog</option>
                    <option value="group">group</option>
                    <option value="suitcase">suitcase</option>
                    <option value="calendar">calendar</option>
                  </select>
                </div>        
            </div>
              <div class="modal-footer">
              <button type="submit" class="btn btn-primary" >Save</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>        
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
  </body>
</html>
