{% extends 'base.html' %}

{% block content %}
<h2>{{page_tittle}}</h2>
<div class="row no-gutters">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/Foto_1.jpg" class="d-block w-100" alt=" ">
      </div>
      <div class="carousel-item">
        <img src="/static/images/Foto_2.jpg" class="d-block w-100" alt=" ">
      </div>
      <div class="carousel-item">
        <img src="/static/images/Foto_3.jpg" class="d-block w-100" alt=" ">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Предыдущая</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Следующая</span>
    </a>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img src="/static/images/Blog1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Огоньки</h5>
      <p class="card-text">Текст поста 1</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="/static/images/Blog2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Эй Желтый!</h5>
      <p class="card-text">Текст поста 2</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="/static/images/Blog3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Релакс</h5>
      <p class="card-text">Текст поста 3</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
{% endblock %}
